$viewports: (
	tablet: 768px,
	desk-top: 1024px,
);

$margins: (
	none: 0,
	small: 5px,
	large: 20px
);

$padding: (
	none: 0,
	small: 5px,
	large: 20px
);

$grid: (
	col: 12
);

$alignHorizontalChildren: (
	h-center: $center,
	h-left: $left,
	h-right: $right
);

$alignVertical: (
	middle: $middle,
	top: $top,
	bottom: $bottom
);

$alignText: (
	center: $center,
	left: $left,
	right: $right
);

$colors: (
	black: #121211,
	white: #f0f0f0
);

$backgroundColours: (
	red: #ff0000,
	greed: green,
	blue: blue
);