/**

	The general pattern is to specifiy the classname: value.
	For example the following configuration of...
	
		$viewports: (
			desktop: 1024px;
		);
		
		$margins: (
			small: 5px;
		);

	Will print the following CSS;
		
		@media only screen and (min-width: 1024px) {
			
			.desktop-margin-top-small {
				margin-top: 5px;
			}
			
			.desktop-margin-right-small {
				margin-right: 5px;
			}

			.desktop-margin-bottom-small {
				margin-bottom: 5px;
			}

			.desktop-margin-left-small {
				margin-left: 5px;
			}

		}

**/

$viewports: (
	tablet: 768px,
	desktop: 1024px,
);

$margins: (
	none: 0,
	small: 5px,
	large: 20px
);

$padding: (
	none: 0,
	small: 5px,
	large: 20px
);

$grid: (
	col: 12
);

$orientationLayout: (
	row: $row,
	col: $column
);

$alignHorizontalChildren: (
	h-center: $center,
	h-left: $left,
	h-right: $right
);

$alignVerticalChildren: (
	middle: $middle,
	top: $top,
	bottom: $bottom
);

$alignText: (
	center: $center,
	left: $left,
	right: $right
);

$colors: (
	black: #121211,
	white: #f0f0f0
);

$backgroundColours: (
	red: #ff0000,
	greed: green,
	blue: blue
);