$center: 'center' !default;
$left: 'left' !default;
$right: 'right' !default;
$middle: 'middle' !default;
$top: 'top' !default;
$bottom: 'bottom' !default;

$directions: (top, right, bottom, left);

$viewports: false !default;
$margins: false !default;
$padding: false !default;
$grid: false !default;
$alignHorizontalChildren: false !default;
$alignVertical: false !default;
$alignText: false !default;

